@model PizzaBox.Domain.Crust
@{
  Layout = "../Shared/_NewLayoutHome.cshtml"; 
}

<div class="col-md-6">
<h2>Lets begin your order</h2>


<!-- <a href="/Home/Login" >User</a> -->
<a href="/Order/Location" >Location</a>
<!-- <a href="/Home/Index" >Store - Not in service</a> -->

</div>
<hr>

