@{
  Layout = "../Shared/_NewLayoutHome.cshtml"; 
}

<div class="col-md-6">
<h2>Welcome to PizzaBox</h2>


<!-- <a href="/Home/Login" >User</a> -->
<a href="/User/Login" >User</a>
<a href="/Store/Login" >Store</a>

</div>
<hr>

