@{
  Layout = "../Shared/_NewLayoutHome.cshtml"; 
}

<div class="col-md-6">
<h2>That username exist please try again</h2>


<!-- <a href="/Home/Login" >User</a> -->
<a href="/user/Login" >Login</a>
<a href="/User/Register" >Register</a>

</div>
<hr>

