@{
  Layout = "../Shared/_NewLayoutHome.cshtml"; 
}

<div class="col-md-6">
<h2>Would you like to add or remove a pizza></h2>


<a href="/Pizza/Size">New Pizza</a>
<a href="/Pizza/Index">Remove Pizza</a>
<!-- <a href="/Home/Index" >Store - Not in service</a> -->

</div>
<hr>

